    * {
        margin: 0;
        padding: 0;
    }


    .img-box {
        background-color: aqua;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .img-box img ,video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    /* ===========
    ========== */